@page "/CreateAccount"
@inject IAccountService AccountService

<h3>Vänligen skapa ett konto</h3>
<EditForm Model="_model" OnValidSubmit="CreateAccountAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
   
    <!-- RUTA för kontonamn -->
    <div className="mb-2">
        <label>Kontonamn</label>
        <InputText @bind-Value="_model.Name" />
    </div>
    <div class="mb-2">

        <!-- RUTA för kontotyp -->
        <label>Kontotyp</label>
        <InputSelect @bind-Value="_model.Type">
            <option value="">Välj kontotyp!</option>
            <option value="@AccountType.Deposit">Baskonto</option>
            <option value="@AccountType.Savings">Sparkonto</option>
        </InputSelect>
    </div class="mb-2">

    <!-- RUTA för valuta -->
    <div>
        <label>Valuta</label>
        <InputSelect @bind-Value="_model.Currency">
            @foreach (var currency in Enum.GetValues<CurrencyType>())
            {
                <option value="@currency">@currency</option>
            }
        </InputSelect>
    </div class="mb-2">
    
    <!-- RUTA för Start saldo -->
    <div>
        <label>Start saldo</label>
        <InputNumber @bind-Value="_model.InitialBalance" />
    </div class="mb-2">
    
    <!-- Knapp för skapa -->
    <button type="submit">Skapa</button>
</EditForm>


@code {
    private CreateAccountModel _model = new();

    private void CreateAccountAsync()
    {
        AccountService.CreateAccount(
            _model.Name,
            _model.Type,
            _model.Currency,
            _model.InitialBalance
        );
    }
    
    private class CreateAccountModel
    {
        public string Name { get; set; }
        public AccountType Type { get; set; }
        public string Currency { get; set; }
        public decimal InitialBalance { get; set; }
        private string _message;

        public void Clear()
        {
            Name = string.Empty;
            Currency = string.Empty;
            InitialBalance = 0;
            Type = default;
        }
    }
}